/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: #201F40;
  color: #8C3545;
}

.header {
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #201F40;  
}

.about {
  top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #201F40;  
}

.contact {
  justify-content: space-between;
}

.email {
  align-items: center;
  justify-content: center;
  flex-direction: center;
  color : #F23838
}
.email svg {
  align-items: center;
  vertical-align: middle;
  display: inherit;
  color : #F23838
}

.follow {
  display: inline-flex;
  justify-content:center;
  flex-direction: column;
  color : #F23838
}

.follow p {
}

.gitHub svg {
  align-items: center;
  vertical-align: middle;
  display: inherit;
  color : #F23838
}

.linkedin svg {
  align-items: center;
  vertical-align: middle;
  display: inherit;
  color : #F23838
}

.footer {
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #201F40;  
}
